@use 'sass:map';
@use '../partials/colors' as color;
@use '../partials/space' as space;
@use '../partials/fonts' as font;
@use '../partials/responsive' as responsive;

// about layout
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 450px;
    max-height: 500px;
    width: 100%;
    align-items: center;
    justify-items: center;
    color: map.get(color.$colors, primary);
    margin-top: calc(map.get(space.$spaces, margin, top) + 1.5rem );

    @include responsive.xsm {
        height: 300px;
        padding-bottom: calc(map.get(space.$spaces, margin, bottom) + 10rem) !important;
    }
    
    @include responsive.xl {
        margin-top:8rem !important;
    }
    
    @include responsive.lg {
        grid-template-columns: 1fr;
        gap: 60px;
        height: 600px;
        padding-bottom: calc(map.get(space.$spaces, margin, bottom) + 18rem);
    }
    
    @include responsive.md {
        padding-bottom: calc(map.get(space.$spaces, margin, bottom) + 10rem) !important;
        margin-bottom: 10rem;        
    }

    @include responsive.sm {
        min-height: 300px;
    }

    // about left layout
    & .about_left {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        width: 400px;
        @include responsive.lg {
            justify-content: space-between;
            height: 500px;
            margin-top: 6rem;
            margin-bottom: 4rem !important;
        }

        @include responsive.md {
            margin-top: 2rem;
            height: 500px;
            margin-bottom: 4rem;
        }
        
        & .about_leftTitle {
            font-size: map-get(font.$fontSize, xl);
            border-bottom: thick solid map.get(color.$colors, secondary);
            width: 170px;
        }

        & .about_leftDesc, .about_leftDesc2 {
            text-indent: 1rem;
            line-height: 25px;
            letter-spacing: 1px;

            @include responsive.xsm {
                font-size: 12px;
                width: 300px;
            }
        }

        & .about_leftDownload {
            display: flex;
            width: 200px;
            cursor: pointer;
            background-color: map-get(color.$colors, secondary);
            align-items: center;
            justify-content: space-around;
            padding: calc(map.get(space.$spaces, padding, top) - .5rem ) 0;
        }
    }
    
    // about right layout
    & .about_right {

    
        & img {
            height: 400px !important;
            width: 400px  !important;
            border-top-right-radius: 18px;
            border-bottom-left-radius: 18px;
            outline-offset: 10px;
            outline-style: solid;
            outline-width: medium;

            @include responsive.xsm {
                margin-right: 5rem !important;
            }

            @include responsive.md {
                height: 300px !important;
                width: 300px !important;
            }
        }
    }
}